
<div class="flex h-full">

  {{>header_admin}}
  
    <div class="ml-2 w-full h-full mt-2">
      <div class="mb-4 border-b border-gray-200 w-full ">
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center justify-center w-full" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
            <li class="mr-2" role="presentation">
                <button class=" font-bold text-gray-1000 inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 " id="account-management-tab" data-tabs-target="#account-management" type="button" role="tab" aria-controls="#account-management" aria-selected="false">Quản lý khoa</button>
            </li>
            <li class="mr-2 " role="presentation">
                <button class="font-bold text-gray-1000 inline-block p-4 rounded-t-lg border-b-2" id="add-account-tab" data-tabs-target="#add-account" type="button" role="tab" aria-controls="#add-account" aria-selected="false">Thêm khoa</button>
            </li>
        </ul>
      </div>
      <div id="myTabContent">
        <div class="hidden p-4 bg-gray-50 rounded-lg max-h-[90vh] min-h-[90vh] overflow-y-scroll" id="account-management" role="tabpanel" aria-labelledby="account-management-tab">
          <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
             {{>search}} 
            <table class="w-full text-sm text-left text-gray-500 mt-4">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                  <tr>
                      <th scope="col" class="px-6 py-3 font-bold">
                          No
                      </th>
                      <th scope="col" class="px-6 py-3 font-bold">
                          Tên khoa
                      </th>
                      <th scope="col" class="px-6 py-3 font-bold">
                          Mô tả
                      </th>
                      <th scope="col" class="px-6 py-3">
                          
                      </th>
                  </tr>
              </thead>
              <tbody id="myTable">
                {{#each clinics}}
                  <tr class="bg-white border-b  hover:bg-gray-50 ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900  whitespace-nowrap">
                        {{sum @index}}
                    </th>
                    <td class="px-6 py-4">
                        {{{this.name}}}
                    </td>
                    <td class="px-6 py-4">
                        {{{this.description}}} 
                    </td>
                    <td class="flex">
                       <a data-position="top" data-tooltip="Update" href="/clinic/{{{this.id}}}/info" class="btn btn-small tooltipped  yellow darken-3 button-radius text-lime-600"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
  <path stroke-linecap="round" stroke-linejoin="round" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
</svg></a>
                      <a data-position="top" data-tooltip="Update" href="/clinic/{{{this.id}}}" class="btn btn-small tooltipped  yellow darken-3 button-radius "><i class="material-icons text-yellow-600">system_update_alt</i></a>
                      

                    <!-- Modal Trigger -->
                      <a data-id="{{{this.id}}}" class="btn_delete text-red" type="button" data-modal-toggle="popup-modal" href="#popup-modal"><i class="material-icons text-red-600">delete</i></a>
                    </td>
                  </tr>
                  {{else}}
                    <tr>
                      <td colspan="6" class="center text-center">
                          Không có khoa
                      </td>
                    </tr>
                  {{/each}}  
              </tbody>
            </table>
            <div class="flex justify-end w-full mt-8">
            </div>
          </div>
        </div>
        <div class="hidden p-4 bg-gray-50 rounded-lg max-h-[90vh] min-h-[90vh] overflow-y-scroll" id="add-account" role="tabpanel" aria-labelledby="add-account-tab">
          <form class="" action="/clinic/storeClinic" method="POST" autocomplete="off"  enctype="multipart/form-data">
          <div class="is-row">
            <div class="is-row flex items-center justify-center">
            <a href="#" id="fileSelect" for="avatar-input-file" class="cursor-pointer">
              <div class="relative">
                <img id="profile-avatar" class="w-36 h-36 rounded-full" src="../uploads/{{clinic.image}}" alt="">
                <span class="bottom-0 right-0 absolute  w-3.5 h-3.5 border-2 border-white ">
                  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
                </span>
              </div>
            </a>
            <input id="fileElem" type="file" name="image" accept="image/*">
            <div class="file-path-wrapper">
            <input class="file-path validate hidden" type="text" value="{{clinic.image}}" name="img_old">
            </div>
            <input type="file" id="fileElem" multiple accept="image/*" style="display:none">
            </div>
          </div>
          
            <div class="is-row">

              <div class="is-full">
                <label class="block mb-2 text-sm font-bold text-gray-900 " for="name">Tên khoa *</label>
                <input id="name" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " name="name" required="required" />
                <span class="helper-text" data-error="Name is invalid!" data-success=""></span>
              </div>
              
            </div>
            <div class="is-full">
              <div class="input-field is-half">
                <label for="firstName" class="block mb-2 text-sm font-bold text-gray-900 ">Mô tả *</label>
                <textarea id="description" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " name="description"></textarea>
                <span class="helper-text" data-error="This field is required!" data-success=""></span>
              </div>
              
            <div class="is-row">
              <div class="input-field col s10 m10 push-l1 mr-bottom">
                <button class=" btn--primary waves-effect waves-light btnCreate" type="submit">Tạo
                </button>
              </div>
            </div>
          </form>
        </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
  
  {{!-- model --}}

<div id="popup-modal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
    <div class="relative w-full h-full max-w-md p-4 md:h-auto">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="popup-modal">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
            </button>
            <div class="p-6 text-center">
                <svg class="mx-auto mb-4 text-gray-400 w-14 h-14 dark:text-gray-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Bạn có chắc chắn muốn xóa khoa này không?</h3>
                <a data-modal-toggle="popup-modal" type="button" class=" delete-agree text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2 " >
                    Xóa bỏ
                </a>
                <button data-modal-toggle="popup-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Hủy</button>
            </div>
        </div>
    </div>
</div>   

{{!-- script --}}

  <script>
  $(document).ready(function(){
      $(".btn_delete").on("click", function(){
          var dataId = $(this).attr("data-id");
            $(".delete-agree").attr("href", "/clinic/delete/"+dataId); // Set herf value
      });
  });
  </script>

    <script>
        var password = document.getElementById("password")
        var confirm_password = document.getElementById("confirm_password");
  function validatePassword(){
    if(password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords don't match");
    } else {
      confirm_password.setCustomValidity('');
    }
  }

  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;
      </script>
   

