{{! 
<script src="socket.io/socket.io.js"></script>
<script src = "./script/inbox.js"></script> }}
<style>
  .message-sender{ text-align: right; } .message-receiver{ text-align: left; }
</style>
<div class="app-container flex flex-col homepage-container">
  {{>nav}}
  <main class="app__main flex w-full">
    <div class="medicals__sidenav max-w-[70px] mt-[100px]">
      <ul class="medicals__sidenav__list flex flex-col justify-center">
        <li class="medicals__sidenav__item medicals__sidenav__item">
        {{#if userLogin}}
            <a href="" id="schedule-user" class="medicals__sidenav__link"><i
                class="fa-solid fa-calendar-days medicals__sidenav__icon"
              title="Lịch cá nhân"></i></a>

              {{else}}
              <a href="" id="schedule-doctor" class="medicals__sidenav__link"><i
                class="fa-solid fa-calendar-days medicals__sidenav__icon"
              title="Lịch cá nhân"></i></a>
              {{/if}}
        </li>
        <li class="medicals__sidenav__item medicals__sidenav__item">
          <a href="/" class="medicals__sidenav__link"><i
              class="medicals__sidenav__icon  fa-solid fa-user-doctor"
            title="Danh sách bác sĩ"></i></a>
        </li>
        <li class="medicals__sidenav__item medicals__sidenav__item">
          <a href="/inbox" class="medicals__sidenav__link"><i
              class="medicals__sidenav__icon fa-brands fa-rocketchat medicals__sidenav__icon--active"
            title="Danh sách cuộc họp"></i></a>
        </li>
    
      </ul>
    </div>
    <div class="app-section flex">
      <div class="medicals__inbox-list w-1/4 h-full overflow-y-scroll">
        <div class="medicals__inbox-list__header pb-3 flex items-center justify-between">
          <h3 class="font-bold">Danh sách cuộc họp</h3>
        </div>
        <ul class="">
          {{#each appointments}}
            <li class="user-chat medicals__inbox-list__item w-full " id={{this.id}}>
              <a class="medicals__inbox-list__item__link" href="/inbox/{{this.title}}" id="{{this.title}}">
                <h4 class="font-bold medicals__inbox-list__item__title">{{this.title}}</h4>
                <p class="medicals__inbox-list__item__desc">{{this.date}}</p>
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="w-full h-full flex items-center justify-center">
        <p class="text-xl">Chọn một cuộc hẹn để xem tin nhắn</p>
        
      </div>
      {{!-- <div class="container">
        <h1> Register</h1>
        <div class="row">
          <div class="col s12">
            <div class="row">
              <h1>Your Account :</h1>
              <h1 class="accountName">{{account.firstName}} {{account.lastName}}</h1>
              <h1 class="accountID">{{account.id}}</h1>
              <div>
                <h1> Inbox for Other Appointments : </h1>
                <ul>
                  {{#each appointments}}
                    <li class="user-chat btn" id={{this.id}}>
                      <a href="/inbox/{{this.title}}"> {{this.title}}</a>
                    </li>
                    <br />
                  {{/each}}

                </ul>

              </div>
            </div>
          </div>
        </div>
      </div> --}}
    </div>
  </main>
</div>
<script src = "../script/handleLinkSchedule.js"></script>